* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/bottom2.jpg);
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  margin-top: 40px;
}

.regform {
  width: 800px;
  background-color: rgb(0, 0, 0, 0.6);
  margin: auto;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.close {
  position: relative;
  right: 1.5rem;
  bottom: 1px;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
  float: right;
}

.main {
  background-color: rgb(0, 0, 0, 0.5);
  width: 800px;
  margin: auto;
}

form {
  padding: 10px;
}

#name {
  width: 100%;
  height: 100px;
}

.name {
  margin-left: 25px;
  margin-top: 30px;
  width: 125px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.firstname {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
}

.lastname {
  position: relative;
  left: 417px;
  top: -80px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.firstlabel {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: 203px;
  top: -45px;
}

.lastlabel {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 14px;
  left: 492px;
  top: -76px;
}

.email {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.code {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 95px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.number {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 255px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.area-code {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 16px;
  left: 54px;
  top: -4px;
}

.phone-number {
  position: relative;
  color: #e5e5e5;
  text-transform: capitalize;
  font-size: 16px;
  left: -105px;
  top: -2px;
}

.option {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 532px;
  height: 40px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
  outline: none;
  overflow: hidden;
}

.option option {
  font-size: 20px;
}

button {
  background-color: #3baf9f;
  display: block;
  top: -20px;
  margin: 20px 0px 0px 20px;
  text-align: right;
  border-radius: 12px;
  border: 2px solid #366473;
  padding: 14px 110px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
  margin-left: auto;
}

button:hover {
  background-color: #5390f5;
}
